@import "../../styles/variables";

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: 100vh;
    background: #36d1dc;
    background: -webkit-linear-gradient(to bottom, #5b86e5, #101111);
    background: linear-gradient(to bottom, #5b86e5, #a6ffcb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding: 2rem;

    @media (max-width: 800px) {
        width: 100%;
        text-align: center;
        height: 100vh;
    }
}

.grid {
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    z-index: -1;
}

.img {
    width: 12%;
    height: 12%;
    display: block;
    margin: 0.5rem 0.5rem;
    animation-fill-mode: both;
    z-index: 0;
}