.Terminal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #1fa2ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
}

.Terminal>.content {
    width: 100%;
}

.Terminal .head {
    font-family: monospace;
    color: #fff;
    margin: auto;
    padding: 35px;
    font-size: 40px;
    text-align: center;
}

.Terminal .red {
    background-color: #e94b35;
}

.Terminal .yellow {
    background-color: #f0f000;
}

.Terminal .green {
    background-color: #1aaf5c;
}

.Terminal .bar {
    text-align: center;
    height: 25px;
    width: 80%;
    background-color: #dad9d9;
    margin: 0 auto;
    font-family: monospace;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.Terminal .bar li {
    margin: 5px;
}

.Terminal .bar li>div {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    position: relative;
}

.Terminal .screen {
    background-color: #33485e;
    width: 80%;
    height: 450px;
    margin: 0 auto;
    padding: 1px;
}

.Terminal .screen .name {
    color: #f0f000;
}

.Terminal .font {
    color: #fff;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    margin-left: 5px;
}

.Terminal .type {
    display: inline;
}

.Terminal .typeLine {
    margin-left: 4px;
}

@media (max-width: 800px) {
    .Terminal {
        width: 100%;
    }
    .Terminal .content {
        padding: 20px 0;
    }
}