@charset "UTF-8";

// rhythm
$base-line-height: 1.4rem;

//break points
$tablet: 750px;

//colors
$yellow: #f0f000;
$green: #2eda7a;
$red: #e94b35;
$purple: #b184f5;
$tortoise: #75e9f1;

$toolboxHeader: #37848a;
$careerHeader: #24292e;
$contactHeader: #15b358;
$defaultHeader: #054486;