@charset "UTF-8";

// rhythm
$base-line-height: 1.4rem;

//break points
$tablet: 750px;

//colors
$yellow: #f0f000;
$green: #2eda7a;
$red: #e94b35;
$purple: #b184f5;
$tortoise: #75e9f1;

$toolboxHeader: #381460;
$experienceHeader: #010a43;
$contactHeader: #008000;
$defaultHeader: #000080;