.Social ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
  margin: 0;
  font-size: 14px;
}

.Social li {
  margin-right: 16px;
}

.Social i:before {
  font-size: 1.75em;
  height: 2.5em;
  line-height: 2.5em;
}

.Social a {
  color: #007aff;
}

.Social h3 {
  margin: 0;
}

@media (max-width: 800px) {
  .Social ul {
    max-width: 252px;
    justify-content: center;
    margin-right: 0;
  }
  .Social li {
    margin: 0;
    font-weight: bold;
    color: #666;
    margin: 0 8px;
  }
  .Social a {
    color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
  }
}
