.About {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #eff6fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 95%;
  background-position: right top;
  background-image: url('../../assets/header-bg-right.svg');
}

@media (max-width: 800px) {
  .About {
    padding: 0;
    width: 100%;
    height: calc(100% - 444px);
    text-align: center;
  }
}

.About > div {
  padding: 60px;
  max-width: 640px;
}

.About p {
  color: #2a2d2d;
}

.About h1 {
  margin: 0 0 0.4rem 0;
  padding: 0;
  color: #1da1f2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.7rem;
  line-height: 1.1;
}

.About .navy {
  color: #054486;
}

.About .tortoise {
  color: #37848a;
}

.About .green {
  color: #15b358;
}

.About .dark {
  color: #24292e;
}

.About h2 {
  margin: 0 0 0.45rem 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 800;
  text-rendering: optimizeLegibility;
  font-size: 3.1rem;
  letter-spacing: -0.027rem;
}
