@import "../../styles/variables";

.list {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
  margin: 0 0 0.5rem 0;
  font-size: 20px;
  padding: 0;
  list-style-position: outside;
  list-style-image: none;

  @media (max-width: 800px) {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.listItem {
  margin-right: 16px;

  @media (max-width: 800px) {
    margin: 0 8px;
  }
}

.linkWrapper {
  padding-bottom: 2px;
  color: #0000FF;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  font-weight: 500;

  &:hover {
    outline-width: 0;
  }

  @media (max-width: 800px) {
    font-weight: normal;
  }

  &.activeLink {
    border-bottom: 3px solid #FF4500;
  }

}