.ContactButton .button-wrapper {
  position: relative;
  display: inline-block;
  z-index: 9999;
}

.ContactButton button {
  display: flex;
  align-items: center;
  border: 0;
  color: #fff;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  border-radius: 0.3rem;
  will-change: opacity;
  transition: opacity 0.2s ease-out;
  padding: 0;
}

.ContactButton button a {
  display: flex;
  color: #fff;
  padding: 12px;
  background: #007aff;
  border-radius: 4px 0 0 4px;
}

.ContactButton button a:hover {
  background: #0095ff;
}

.ContactButton button .icon {
  display: flex;
  align-items: center;
  margin-top: -1px;
  padding: 0 8px 0 0;
}

.ContactButton button .name {
  margin: 0;
  line-height: 1;
  letter-spacing: 0.2px;
}

.ContactButton button .icon-dropdown {
  display: flex;
  align-items: center;
  padding: 16px;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  transition: all 0.1s ease-out;
  background: #007aff;
  height: 39px;
  border-radius: 0 4px 4px 0;
}

.ContactButton button .icon-dropdown:hover {
  background: #0095ff;
}
