@import "../../styles/variables";

.container {
  font-size: 0.8rem;
  color: #000000;
  font-family: 'Grandstander', cursive;
}

.link {
  color: #0000FF;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.divider {
  color: black;
  font-weight: 400;
  margin: 0 3px;
}

.row {
  margin: 5px 0;
}