.Tech {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #ada996;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  );
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
}

.Tech .grid {
  display: flex;
  justify-content: center;
  /* You can set flex-wrap and
       flex-direction individually */
  flex-direction: row;
  flex-wrap: wrap;
  /* Or do it all in one line
      with flex flow */
  flex-flow: row wrap;
  /* tweak where items line
       up on the row
       valid values are: flex-start,
       flex-end, space-between,
       space-around, stretch */
  align-content: flex-end;
}

.Tech .grid img {
  width: 100px;
  height: 100px;
  margin: 5px;
  display: block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .Tech > div {
    /* background: url('/static/images/app@2x.png'); */
    background-size: 320px 314px;
  }
}

@media (max-width: 800px) {
  .Tech {
    width: 100%;
  }
}
